/* 导航条设置 */
.zh-nav {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: white;
}

.zh-nav-bar {
	width: 73%;
	margin: 0 auto;
}

.zh-nav-list {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/* 导航 */
.zh-list {
	display: inline-block;
	line-height: 50px;
}

.zh-nav-item {
	height: 70px;
	margin-left: 50px;
	line-height: 50px;
	font-weight: 750;
	font-size: 15px;
}

.btn-circle {
	border: none;
	align-items: center;
	padding: 0 14px 0 24px;
	height: 48px;
	background-color: #fff;
	width: 140px;
	border-radius: 25px;
	color: #8590a6;
	cursor: pointer;
	font-weight: 600;
}

.zh-shadow {
	box-shadow: 2px 5px 10px rgb(165, 214, 167);

}
